<div id="login_box">

  <h1>Log In</h1>

  <%= form_tag session_path do -%>
    <%= label_tag 'email' %>
    <%= text_field_tag 'email', @login %><br />

    <%= label_tag 'password' %>
    <%= password_field_tag 'password', nil %><br/>

    <!-- Uncomment this if you want this functionality
    <p><%= label_tag 'remember_me', 'Remember me' %>
    <%= check_box_tag 'remember_me', '1', @remember_me %></p>
    -->

    <p>
      <%= submit_tag 'Log in' %> or
      <%= link_to "signup", signup_path %>
    </p>
  <% end -%>
</div>
<br />
Or use one of your existing accounts:<br />

<a href="/auth/twitter" class="auth_provider">
  <%= image_tag "icons/twitter.png", :size => "64x64", :alt => "Twitter" %></a>
<a href="/auth/facebook" class="auth_provider">
  <%= image_tag "icons/facebook.png", :size => "64x64",:alt => "Facebook" %></a>
<a href="/auth/linked_in" class="auth_provider">
  <%= image_tag "icons/linkedin.png", :size => "64x64",  :alt => "OpenID" %></a>