

<%= form_for @person, :html => { :multipart => true } do |f| %>
  <p>
    <%= f.error_messages %>
  </p>
  <p>
    <%= f.label :name, 'Name'%><br />
    <%= f.text_field :person_name %>
  </p>
  <p>
    <%= f.check_box :investor %>
    <%= f.label :investor, 'Angel investor'%>
    <label for="person_investor">Angel investor</label>
  </p>

  <p>
    <%= f.label :picture %><br />
    <i style="font-size:9px;">File size needs to be less than 1MB.</i><br/>
    <input id="person_picture" name="person[picture]" size="30" type="file" />
  </p>

  <p>
    <strong><%= f.label 'Companies'%></strong><br />
  <div id="person_companies">
    <%= render :partial => 'person_company', :collection => @person.person_companies %>
  </div>
  <%= add_person_company_link "New company" %>


  </p>

  <p>
    <%= f.label :overview %> (HTML-tags are not supported)<br />
    <i style="font-size:9px;">Please provide a neutral, third party description of this person.</i><br/>
    <%= f.text_area :overview, :size=>'40x20' %>
  </p>

  <p>
    <%= f.label :academic_degrees %><br />
    <%= f.text_area :academic_degrees, :size=>'40x20' %>
  </p>

  <p>
    <%= f.label :country_id, 'Nationality'%>
    <%= f.select :country_id,  Country.all.collect {|p| [ p.name, p.id ] }, { :include_blank => '' }%>
  </p>

  <p>
    <%= f.label :blog_feed, 'Blog feed (RSS/Atom)' %><br/>
    <%= f.text_field :blog_feed %>
  </p>

  <p>
    <b><%= f.label :link1_url, 'Link 1' %></b><br />
    Name<br/><%= f.text_field :link1_name %><br/>
    Url<br/><%= f.text_field :link1_url %>
  </p>

  <p>
    <b><%= f.label :link2_url, 'Link 2' %></b><br />
    Name<br/><%= f.text_field :link2_name %><br/>
    Url<br/><%= f.text_field :link2_url %>
  </p>

  <p>
    <%= f.label :link3_url, 'Link 3' %><br />
    Name<br/><%= f.text_field :link3_name %><br/>
    Url<br/><%= f.text_field :link3_url %>
  </p>

  <p>
    <%= f.label :link4_url, 'Link 4' %><br />
    Name<br/><%= f.text_field :link4_name %><br/>
    Url<br/><%= f.text_field :link4_url %>
  </p>

  <%= f.submit 'Submit' %>

<% end %>

<script type="text/javascript">
  function remove_fields(link) {
    $(link).prev("input[type=hidden]").val("true");
    $(link).closest(".fields").hide();
  }

  function add_fields(link, association, content) {
    var new_id = new Date().getTime();
    var regexp = new RegExp("new_" + association, "g");
    $(link).parent().before(content.replace(regexp, new_id));
  }
</script>