<% content_for :left do %>
  <h3>About</h3>
  <p>
    Welcome to ArcticIndex, the primary information resource of Nordic and Baltic startups and the entrepreneurs behind them.
    This is your one stop shop for getting the latest information on these companies and people, whatever your need.
  </p>
  <h3>Contribute</h3>
  <p>
    <a href="/companies/new" class="app">Add Company »</a> <br />
    <a href="/people/new" class="app">Add Person »</a> <br />
    <a href="/jobs/new" class="app">Add Job »</a> <br />
    <a href="/events/new" class="app">Add Event »</a> <br />
  </p>
<%  end %>

<%= link_to signup_path do %>
  <% image_tag 'signup_button.png' %>
<%  end %>


<div class="etusivusisennys">
  <h2>Recent companies</h2>

  <table>
    <tr>
      <% for c in (@last_companies.any? ? @last_companies[0..3]:[]) do %>
          <td align="center" style="padding:10px;">
            <%= link_to c do %>
              <%= image_tag c.picture.url(:thumb) %>
            <% end %><br/>
            <%= link_to c.name, c %>
          </td>
        <% end %>
      </tr>
      <tr>
       
        <% for c in (@last_companies.any? ? @last_companies[4..-1]:[]) do %>
            <td align="center" style="padding:10px;">
              <%= link_to c do %>
                <%= image_tag c.picture.url(:thumb) %>
              <% end %><br/>
              <%= link_to c.name, c %>
            </td>
          <% end %>
        </tr>
      </table>

      <a href="/companies" class="morelink">More companies &raquo;</a>
    </div>

    <div class="etusivusisennys">

      <h2>Recent people</h2>
      <table>
        <tr>
          <% for c in (@last_people.any? ? @last_people[4..-1]:[]) do %>
              <td align="center" style="padding:10px;">
                <%= link_to c do %>
                  <%= image_tag c.picture.url(:thumb) %>
                <% end %><br/>
                <%= link_to c.name, c %>
              </td>
            <% end %>
          </tr>
          <tr>
            <% for c in (@last_people.any? ? @last_people[4..-1]:[]) do %>
                <td align="center" style="padding:10px;">
                  <%= link_to c do %>
                    <%= image_tag c.picture.url(:thumb) %>
                  <% end %><br/>
                  <%= link_to c.name, c %>
                </td>
              <% end %>
            </tr>
          </table>
          <a href="/people" class="morelink">More people &raquo;</a>
        </div>


        <div class="etusivusisennys">

          <h2>Recent jobs</h2>
          <table class="jobs"width="100%">
            <thead>
            <th align="left">Company</th>
            <th align="left">Position</th>
            <th>Location</th>

            </thead>
            <tbody>
              <% for j in @last_jobs %>
                <tr>
                  <td>
                    <%= link_to h(j.company.name), j.company %>
                  </td>
                  <td><%= h(j.position) %></td>
                  <td align="center" style="padding:0"><%=h j.location %></td>
                </tr>
              <% end %>
                
            </tbody>
          </table>
          <a href="/jobs" class="morelink">More jobs &raquo;</a>
        </div>

        <div class="etusivusisennys">

          <h2>Upcoming Events</h2>
          <table class="jobs"width="100%">
            <thead>
            <th align="left">Event</th>

            <th align="left">Venue</th>
            <th>Date</th>
            </thead>
            <tbody>
              <% @l_ev = @last_events.any? ? @last_events : [] %>
              <%  for e in @l_ev%>
                <tr>
                  <td>
                    <%= link_to h(e.name), e %>
                  </td>
                  <td><%= h(e.venue) %></td>
                  <td align="center" style="padding:0"><%= e.taken_at.to_s(:simple_date) %></td>
                </tr>
              <% end %>
            </tbody>

          </table>
          <a href="/events" class="morelink">More events &raquo;</a>
        </div>


