

<%= form_for @company, :html => { :multipart => true } do |f| %>
  <p>
    <%= f.error_messages %>
  </p>

  <br />
    <%= f.label :name, 'Name'%><br />
    <%= f.text_field :name %>


  <br />
    <%= f.label :category_id, 'Category'%><br />
    <%= f.select :category_id,  Category.all.reject(&:regectable?).collect {|p| [ p.name, p.id ] }, { :include_blank => '' }%>
 
  <br />
    <%= f.label :picture %><br />
    <i style="font-size:9px;">File size needs to be less than 1MB.</i><br/>
    <input id="person_picture" name="company[picture]" size="30" type="file" />

  <br />
    <%= f.label :description %> (HTML-tags are not supported)<br />
    <i style="font-size:9px;">Please provide a neutral, third party description of this person.</i><br/>
    <%= f.text_area :description, :size=>'40x20' %>

  <br />
    <%= f.label :website%><br />
    <%= f.text_field :website %>

  <br />
    <%= f.label :blog %><br/>
    <%= f.text_field :blog %>

  <br />
    <%= f.label :blog_feed, 'Blog feed (RSS/Atom)' %><br/>
    <%= f.text_field :blog_feed %>

  <br />
    <%= f.label :phone %><br/>
    <%= f.text_field :phone %>

<br />
    <%= f.label :employers %><br/>
    <%= f.text_field :employers %>

 <br />
    <%= f.label :city %><br/>
    <%= f.text_field :city %>

<br />
    <%= f.label :country_id, 'Country'%><br />
    <%= f.select :country_id,  Country.all.collect {|p| [ p.name, p.id ] }, { :include_blank => '' }%>


  <br />
    <%= f.label :founded_at, 'Founded'%>
    <%= f.date_select :founded_at, :start_year => 1993, :end_year => Time.now.year, :discard_day => true %>
  <br />
  <%= f.label :not_known%>
  <%= f.check_box :not_known %>
  <br />
  <%= f.submit 'Submit' %>
  <br />
  <%= link_to "Back", companies_path %>

<% end %>
