<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>ArcticIndex</title>
    <%= stylesheet_link_tag :all %>
    <link rel="Shortcut Icon" href="/favicon.ico" />
    <%= csrf_meta_tag %>
    <%= javascript_include_tag "jquery.min.js", 'rails' %>
  </head>

  <body>
    <div id="wrap" class="grid16">
      <div id="header">
        <h1><a href="/"><img src="/images/AI_logo.gif" width="381" height="72" alt="ArcticIndex" /></a></h1>

        <%= form_tag "/search", :id => 'search', :method => :get do %>
          <fieldset>
            <%= text_field_tag 'search', nil,:id => 'search_i' %>
            <%= submit_tag 'Search', :id => 'search_s'%>
          </fieldset>
        <% end %>

        <%=raw navigation_tabs(@curr_page) %>
      </div><!-- header -->

      <div id="content">
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
        <%- end -%>

        <p style="color: green"></p>
        <p style="color: red"></p>

        <div class="c4">
          <%= yield :left %>
        </div>

        <div class="c8">
          <%= yield %>
        </div>

        <div class="c4" id="sidebar">
          <%= yield :right %>
        </div>
      </div><!-- content -->
      <div id="footer">
        <p id="copy">ArcticStartupClone &copy; 2011</p>
      </div><!-- footer -->
    </div><!-- wrap -->
    <!-- Google analitics code -->

    <%= render :partial => 'layouts/feedback_tab' %>
</body>
</html>
